#wrap{
  margin: auto;
  background-color: green;
  width: 725px;
  height: 470px;
}


header h1 {
  background-color: yellow;
  text-align: right;
  font-size: 100px;
}


nav ul {
  display: block;
}

nav {
  padding-left: 20px;
  padding-right: 20px;

}
